<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290258124665-0iv17ue8qugqo4v789aqh4l5h33im357.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290258124665-0iv17ue8qugqo4v789aqh4l5h33im357</string>
	<key>API_KEY</key>
	<string>AIzaSyDHoviQ_Hv4XPjsxi_PXB5m1SbtTrGBvuw</string>
	<key>GCM_SENDER_ID</key>
	<string>290258124665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>riverside.Swift5FirebaseBasic</string>
	<key>PROJECT_ID</key>
	<string>swift5firebasebasic-12aa2</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5firebasebasic-12aa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290258124665:ios:7be709da8f8c0aba</string>
	<key>DATABASE_URL</key>
	<string>https://swift5firebasebasic-12aa2.firebaseio.com</string>
</dict>
</plist>